* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
    background-color: #e3e3e3;
    font: 300 13px/1.6 'gibsonregular', Helvetica, Arial;
    color: $color-primary;
    transition: all .4s .3s ease-in;
}
body,html{
	// min-height: 100vh;
	// overflow: hidden;
}
