* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
    background-color: $white;
    font: 300 13px/1.6 'gibsonregular', Helvetica, Arial;
    color: $grey;
    transition: all .4s .3s ease-in;
}
