@font-face {
    font-family: 'gibsonbold-italic';
    src: url('../fonts/gibson-bold-italic-webfont.eot');
    src: url('../fonts/gibson-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-bold-italic-webfont.woff2') format('woff2'),
         url('../fonts/gibson-bold-italic-webfont.woff') format('woff'),
         url('../fonts/gibson-bold-italic-webfont.ttf') format('truetype'),
         url('../fonts/gibson-bold-italic-webfont.svg#gibsonbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonbold';
    src: url('../fonts/gibson-bold-webfont.eot');
    src: url('../fonts/gibson-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-bold-webfont.woff2') format('woff2'),
         url('../fonts/gibson-bold-webfont.woff') format('woff'),
         url('../fonts/gibson-bold-webfont.ttf') format('truetype'),
         url('../fonts/gibson-bold-webfont.svg#gibsonbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonitalic';
    src: url('../fonts/gibson-italic-webfont.eot');
    src: url('../fonts/gibson-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-italic-webfont.woff2') format('woff2'),
         url('../fonts/gibson-italic-webfont.woff') format('woff'),
         url('../fonts/gibson-italic-webfont.ttf') format('truetype'),
         url('../fonts/gibson-italic-webfont.svg#gibsonitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonlight-italic';
    src: url('../fonts/gibson-light-italic-webfont.eot');
    src: url('../fonts/gibson-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-light-italic-webfont.woff2') format('woff2'),
         url('../fonts/gibson-light-italic-webfont.woff') format('woff'),
         url('../fonts/gibson-light-italic-webfont.ttf') format('truetype'),
         url('../fonts/gibson-light-italic-webfont.svg#gibsonlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonlight';
    src: url('../fonts/gibson-light-webfont.eot');
    src: url('../fonts/gibson-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-light-webfont.woff2') format('woff2'),
         url('../fonts/gibson-light-webfont.woff') format('woff'),
         url('../fonts/gibson-light-webfont.ttf') format('truetype'),
         url('../fonts/gibson-light-webfont.svg#gibsonlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonsemibold-italic';
    src: url('../fonts/gibson-semibold-italic-webfont.eot');
    src: url('../fonts/gibson-semibold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-semibold-italic-webfont.woff2') format('woff2'),
         url('../fonts/gibson-semibold-italic-webfont.woff') format('woff'),
         url('../fonts/gibson-semibold-italic-webfont.ttf') format('truetype'),
         url('../fonts/gibson-semibold-italic-webfont.svg#gibsonsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonsemibold';
    src: url('../fonts/gibson-semibold-webfont.eot');
    src: url('../fonts/gibson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-semibold-webfont.woff2') format('woff2'),
         url('../fonts/gibson-semibold-webfont.woff') format('woff'),
         url('../fonts/gibson-semibold-webfont.ttf') format('truetype'),
         url('../fonts/gibson-semibold-webfont.svg#gibsonsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonregular';
    src: url('../fonts/gibson-webfont.eot');
    src: url('../fonts/gibson-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gibson-webfont.woff2') format('woff2'),
         url('../fonts/gibson-webfont.woff') format('woff'),
         url('../fonts/gibson-webfont.ttf') format('truetype'),
         url('../fonts/gibson-webfont.svg#gibsonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
